body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    max-width: 800px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 50px; /* Size of the icon */
    height: 50px; /* Maintain aspect ratio */
    margin-right: 10px;
}

.title {
    color: white;
    margin: 0; /* Adjust as necessary */
}

#chat-container {
    height: 400px;
    overflow-y: scroll;
    background-color: #2c2c2c;
}

/* Custom scrollbar styles */
#chat-container::-webkit-scrollbar {
    width: 8px;
}

#chat-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#chat-container::-webkit-scrollbar-track {
    background: #2c2c2c;
}

.user-message, .ai-message {
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    width: fit-content;
    max-width: 80%;
}

.user-message {
    background-color: #007bff;
    color: white;
    align-self: end;
    margin-left: auto;
}

.ai-message pre {
    background: none; /* Ensures the pre tag does not alter the look */
    border: none; /* Removes any default styling */
    padding: 0; /* Keeps padding consistent */
    font-family: inherit; /* Matches the text style of other messages */
    white-space: pre-wrap; /* Preserves whitespace and wraps text as needed */
}

.form-container {
    position: relative;
}

.spinner-container {
    position: absolute;
    right: 50px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

input, button {
    border: none;
    outline: none;
}

input[type="text"] {
    background-color: #333;
    color: white;
}

button {
    background-color: #0069d9;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

.spinner-border {
    width: 2rem;
    height: 2rem;
}

.chat-icon {
    width: 24px; /* Size of the icon */
    height: 24px; /* Maintain aspect ratio */
    vertical-align: middle; /* Align with the text */
    margin-right: 5px; /* Space between icon and text */
}

