<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Privacy Policy for Anime Navigator</h1>
    </header>
    <main>
        <section>
            <h3>Introduction</h3>
            <p>Anime Navigator ("we", "us", or "our"), operated by Algigi Innovations LLC, respects the privacy of our users ("user" or "you"). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website animenav.com including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the "Site"). Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.</p>
        </section>
        <section>
            <h3>Information Collection</h3>
            <ul>
                <li>
                    <h4>
                        Personal Data
                    </h4><p>We collect personal data that you provide to us when you register on the Site, update or change information for your account, and participate in chat messages with our services on our Site. This information may include your name and email address.</p>
                </li>
                <li>
                    <h4>
                        Derivative Data
                    </h4><p>We collect personal data that you provide to us when you register on the Site, update or change information for your account, purchase products or services, complete a survey, sign-up for email updates or Online Courses, send us email messages, and/or participate in Online Courses or other services on our Site. This information may include your name, email address, and payment information.</p>
                </li>
            </ul>
        </section>
        <section>
            <h3>Use of Your Information
            </h3>
            <p>We use personal information collected via our Site for a variety of business purposes described below:</p>
                <ul>
                    <li><p>Account Management: To create and manage your account.</p></li>
                    <li><p>Personalization of Experience: To deliver content, product offerings relevant to your interests, including targeted offers and ads through our Site, third-party sites, and via email or text message (with your consent, where required by law).</p></li>
                    <li><p>Communication: To contact you for informational, marketing, and promotional purposes via emails, notifications, or other messages, consistent with any permissions you may have communicated to us.</p></li>
                    <li><p>Service Improvement: To request feedback and to contact you about your use of the Site.</p></li>
                    <li><p>Facilitation of Transactions: To process payments for purchases, subscriptions, or other consents.</p></li>
                </ul>
        </section>
        <section>
            <h3>Disclosure of Your Information
            </h3>
            <p>We may share information we have collected about you in certain situations as follows:</p>
                <ul>
                    <li><p>By Law or to Protect Rights: If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others.</p></li>
                    <li><p>Third-Party Service Providers: We may share your information with third parties that perform services for us or on our behalf, including data analysis, payment processing, email delivery, hosting services, customer service, and marketing assistance.</p></li>
                </ul>
        </section>
        <section>
            <h3>Security of Your Information
            </h3>
            <p>We use administrative, technical, and physical security measures designed to protect your personal information. While we strive to protect your personal information, please be aware that no security measures are perfect or impenetrable.</p>
        </section>
        <section>
            <h3>Options Regarding Your Information
            </h3>
            <p>You have the right at any time to review or change the information in your account or terminate your account by:</p>
                <ul>
                    <li><p>Updating Account Information: You may log into your account settings and update your account information.</p></li>
                    <li><p>Terminating Your Account: You can contact us using the provided contact information to request account deletion or deactivation.</p></li>
                </ul>
        </section>
        <section>
            <h3>Contact Us
            </h3>
            <p>If you have questions or comments about this Privacy Policy, please contact us at: [algigi.innovations@gmail.com].</p>
        </section>
    </main>
    <footer>
        <p>© [2024] [Algigi Innovations LLC]. All rights reserved.</p>
    </footer>
</body>
</html>