<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Terms of Service</h1>
    </header>
    <main>
        <section>
            <h3>Introduction</h3>
            <p>Welcome to Anime Navigator (referred to as "Website"). This website is owned and operated by Algigi Innovations LLC. By accessing Anime Navigator at www.animenav.com, you agree to be bound by these terms of service and all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
        </section>
        <section>
            <h3>Acceptance of Terms</h3>
            <p>By using Anime Navigator, you signify your acceptance of these terms and conditions. If you do not agree to these terms, please do not use our Website. Continued use of Anime Navigator following the posting of changes to these terms will be deemed your acceptance of those changes.</p>
        </section>
        <section>
            <h3>Privacy Policy</h3>
            <p>Our Privacy Policy describes how we handle the information you provide to us when you use our Website. You agree to the collection, use, and sharing of your data in accordance with our Privacy Policy.</p>
        </section>
        <section>
            <h3>Account Security</h3>
            <p>You are responsible for maintaining the confidentiality of your account and password and for all activities that occur under your account.</p>
        </section>
        <section>
            <h3>Lawful Use</h3>
            <p>You agree to use the Website only for lawful purposes and not to use it in a way that infringes the rights of anyone else or restricts or inhibits anyone else's enjoyment of the Website.</p>
        </section>
        <section>
            <h3>Content Standards</h3>
            <p>You agree not to upload, post, email, transmit, or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable.</p>
        </section>
        <section>
            <h3>Collection of Information</h3>
            <p>We collect information about you when you register, log in, and use our services. This information includes, but is not limited to, your name, email address, and any other details you provide us. We also collect data about your usage of our services and any direct communications you have with us.</p>
        </section>
        <section>
            <h3>Use of Information</h3>
            <p>By agreeing to these terms, you grant Animne Navigator the unrestricted, perpetual right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, and display all data you provide, including any user-generated content, public or private, in any form, format, or forum we choose. This includes, but is not limited to, marketing purposes, product development, and creating data analytics.</p>
        </section>
        <section>
            <h3>Intellectual Property</h3>
            <p>The content on Anime Navigator, including without limitation the text, software, scripts, graphics, photos, sounds, music, videos, and interactive features and the trademarks, service marks and logos contained therein, are owned by or licensed to Algigi Innovations LLC. Content on the Website is provided to you AS IS for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of Algigi Innovations LLC.</p>
        </section>
        <section>
            <h3>Disclaimers and Limitation of Liability
            </h3>
            <p>Algigi Innovations LLC makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, Algigi Innovations LLC does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.            </p>
        </section>
        <section>
            <h3>Indemnification</h3>
            <p>You agree to indemnify Algigi Innovations LLC against any claims arising from your use of the Website.</p>
        </section>
        <section>
            <h3>Dispute Resolution</h3>
            <p>Any disputes arising under these Terms will be governed by the laws of [Your State/Country] and resolved exclusively in its courts, unless otherwise directed by mandatory local law.</p>
        </section>
        <section>
            <h3>Changes to Terms</h3>
            <p>Algigi Innovations LLC reserves the right, in its sole discretion, to change the Terms under which Anime Navigator is offered. The most current version of the Terms will supersede all previous versions. Algigi Innovations LLC encourages you to periodically review the Terms to stay informed of our updates.</p>
        </section>
        <section>
            <h3>Contact Us            </h3>
            <p>Algigi Innovations LLC welcomes your questions or comments regarding the Terms:
                [algigi.innovations@gmail.com]</p>
        </section>
    </main>
    <footer>
        <p>© [2024] [Algigi Innovations LLC]. All rights reserved.</p>
    </footer>
</body>
</html>